* {
    text-align: center;
    font-size: 14px;
}

body {
    background-color: forestgreen;
    direction: rtl;
}

h1 {
    color: whitesmoke;
    font-size: 12em;
}

h2 {
    color: whitesmoke;
    font-size: 12px;
}

h3 {
    color: whitesmoke;
    font-size: 12pt;
}

h4 {
    color: whitesmoke;
    font-size: 12%;
}

#first {
    color: rebeccapurple;
}

#second {
    color: brown;
}

.even {
    color: red;
}

.odd {
    color: blue;
}

.alex {
    background-color: chartreuse;
    padding: 3px;
}

.alex-new {
    background-color: chartreuse;
    max-width: fit-content;    
    margin: auto;
    padding: 3em;
}

li{
    list-style-type: none;
}